
.main{
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 900px;
  max-height: 100%;
}
#light{
  background-image: url("https://assets.capitalfm.com/2013/30/weather-1375260252-herowidev4-0.jpg");
  color: #252121;
}
#dark {
  background-image: url("https://i.pinimg.com/originals/cf/2a/f7/cf2af7d910deadc8095576f7d2cf156d.jpg");
  color: white;
}
#dark .name{
  color: #91caf0;
  text-shadow:7px 7px 7px #2b2929;
}
#dark .city, #dark .cityTable{
  background-color:rgba(20, 20, 19, 0.596);
}
#dark .userCard{
  background-color:rgba(20, 20, 19, 0.596);
}
::-webkit-scrollbar {
  scroll-behavior: auto;
  width: 10px; 
  height: 10px;
  background:rgba(145, 133, 133, 0.651); 
}
.progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
};