
.calendar{
    width: 25%;
    margin: 2% auto;
}
.dateInfo{
    background-color:rgba(248, 248, 246, 0.2);
    box-shadow: 5px 5px 5px rgb(90, 87, 87);
    margin: 1%;
}
.icon{
    width: 60px;
}
.historyData{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.shortHistory{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 600px;
}