.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}
.container>div{
    margin: 2%;
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:stretch;
}
.city{
    background-color:rgba(248, 248, 246, 0.2);
    box-shadow: 5px 5px 5px rgb(90, 87, 87);
    border-radius: 5%;
    padding: 2%;
}
.info{
    width: 500px;
}
.cityButton{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.temperature{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
