.userCard{
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    width: 550px;
    background-color: rgba(248, 248, 246, 0.2);
    box-shadow: 5px 5px 5px rgb(90, 87, 87);
}
.userInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  
}
.userAccountBtns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 5%;
}