.home{
    position: relative;
    height: 100%;
}
.mainInfo{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
}
.mainInfo .container{
    width: 70%;
}

.search{
    margin: 3%;
}
.link{
    text-decoration: none;
    color: rgb(12, 138, 216);
}
.welcome{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(7, 7, 44);
    font-style: italic;
    font-size: 3em;
}